<app-header titulo="Grid"></app-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" size-md="4" size-lg="3" *ngFor="let item of [1,1,1,1,1,1,1,1,1,1,1,1]"><ion-card>
          <ion-img
            src="https://cronicaglobal.elespanol.com/uploads/s1/89/08/62/3/jessica-goicoechea-maltrato.png"
          ></ion-img> </ion-card>
        <ion-card-header>
          <ion-card-subtitle>Awesome Subtitle</ion-card-subtitle>
          <ion-card-title>Awesome title</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, numquam minima labore quisquam at aut maxime! Facilis non laborum aspernatur ipsam, impedit, ex illo voluptatibus excepturi illum aliquam doloribus minus.
        </ion-card-content>
        </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
