<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button  defaultHref="/"> </ion-back-button>
    </ion-buttons>
    <ion-title>Avatar</ion-title>

    <ion-buttons slot="end">
      <ion-avatar >
        <ion-img
          src="https://cronicaglobal.elespanol.com/uploads/s1/89/08/62/3/jessica-goicoechea-maltrato.png"
        ></ion-img>
      </ion-avatar>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-chip color="primary" outline="true">
    <ion-avatar>
      <img
        src="https://cronicaglobal.elespanol.com/uploads/s1/89/08/62/3/jessica-goicoechea-maltrato.png"
      />
    </ion-avatar>

    <ion-label>Default</ion-label>
  </ion-chip>

  <ion-list>
    <ion-item>
      <ion-avatar slot="start">
        <img
          src="https://cronicaglobal.elespanol.com/uploads/s1/89/08/62/3/jessica-goicoechea-maltrato.png"
        />
      </ion-avatar>
      <ion-label>Goicochea</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
